<ion-view view-title="关于我们" name="account-view" hide-nav-bar="true">
  <ion-content class="" overflow-scroll="true" scroll="false">
    <header class="heade header">
        <a class="abtn clhm" href="#">           
            返回       
        </a>                       
        <span>关于我们</span> 
        <a class="bbtn clhm" href="#">
          
        </a>      
    </header>
    <div class="app_bg bgstyle">

        <p class="txtlogo abptxt">Copyright © MagicPoster</p>
    </div>
  </ion-content>
</ion-view>