<ion-view view-title="设备匹配" class="bcbg">
  <ion-header-bar align-title="center" class="bar bar-header a_bar a_barc a_barb fxcen">
    <!--<div class="mgft fxcen" id="titlf" ui-sref="match">-->
    <!--<img class="marauto fl stmgb" src="img/add.png">-->
    <!--</div>-->
    <!--<h1 class="title mtit" id="stitb">设备列表</h1>-->
    <!--<div class="buttons mgrt textcen" id="titr" ng-click="goMain()">-->
    <!--返回-->
    <!--</div>-->
    <div class="buttons mgft fxcen btlft towdp" ng-click="goMain()">
      <img class="wborw marauto" src="img/hogo.png">
    </div>
    <h1 class="title mtit" id="stitb">{{'设备匹配' | T}}</h1>
    <div class="buttons mgrt fxcen mfr towdp" ui-sref="match">
      <img class="marauto wborw" src="img/addn.png">
    </div>

  </ion-header-bar>

  <ion-content class="scroll-content stopb pmzero theit" overflow-scroll="true" scroll="true">

    <ion-refresher pulling-text="{{'正在刷新' | T}}..." on-refresh="doRefresh()"></ion-refresher>

    <div class="jqlist fxcen" ng-repeat="client in data.clients">
      <img ng-if="(client.status == '0')" class="marauto jqmg" src="img/vboad.png">
      <img ng-if="(client.status == '1')" class="marauto jqmg" src="img/boad.png">
      <ul class="marauto jqul">
        <li class="jqlia">
          <p class="jqlip inblo"><span class="jqspc">ID </span>: {{client.id}}</p>
          <p class="jqliq inblo"><span class="jqspc">{{'状态' | T}} </span>: {{(client.status == "0"? '离线':'在线') | T}} </p>
        </li>
        <li class="jqlia" style="line-height:1em"><span class="jqspc">{{'名称' | T}} </span>: {{client.name}}</li>
        <li class="jqlia"><span class="jqspc">{{'创建时间' | T}} </span>: {{client.create_date}}</li>
        <li class="jqlia" style="margin-bottom:0"><span class="jqspc">{{'当前节目' | T}} </span>: {{client.current_program}}</li>
      </ul>

      <div class="sbtnls">
        <div class="jqdel marauto mbth" ng-click="changeName({{client.id}})">{{'修改名称'| T}}</div>
        <div class="jqdel marauto hbz marg_noe" ng-click="unbind({{client.id}})">{{'解除绑定' | T}}</div>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar align-title="center" class="bar bar-footer f_bar bcbg overf btozero">
    <h1 class="title bcbg" id="ftit">Copyright(c) MagicBoard</h1>
  </ion-footer-bar>
</ion-view>

