<ion-view view-title="内容编辑" name="account-view" hide-nav-bar="true">
  <ion-content class="" overflow-scroll="true" scroll="false"> 
    <header class="heade">
      <div class="abtn">
        <a href="#">
          <img class="" src="img/usemg.png">        
        </a>
          <span class="aspan">3</span>
      </div>  
      <span>内容编辑</span>
      <a class="bbtn" href="#">
          <img src="img/sider.png">
      </a>
    </header>
    <div class="header">       
    </div>
    <div class="app_bg bgstyle">


      <p class="txtlogo">Copyright © MagicPoster</p>
    </div>
  </ion-content>
</ion-view>