<ion-view view-title="节目管理" name="account-view" hide-nav-bar="true">
  <ion-content class="" overflow-scroll="true" scroll="false">
    <header class="heade header">
        <a class="abtn clhm" href="#">
            <img class="cloh" src="img/jmh.png"> 
              首页       
        </a>                      
        <span>当前节目名称</span>
        <a class="bbtn clhm" href="#">
        </a>
    </header>
    <div class="app_bg bgstyle">
      <ul class="jmaul">
        
        <li class="jmli fl">
          <img class="jmnew" src="img/gpto.png">
          <span class="jmname">5G6F7H8J</span>
        </li>
        <li class="jmli fl">
          <img class="jmnew" src="img/gpto.png">
          <span class="jmname">5G6F7H8J</span>
        </li>
        <li class="jmli fl">
          <img class="jmnew" src="img/gpto.png">
          <span class="jmname">5G6F7H8J</span>
        </li>
        <li class="jmli fl marr">
          <img class="jmnew" src="img/gpto.png">
          <span class="jmname">5G6F7H8J</span>
        </li>
        <li class="jmli fl">
          <img class="jmnew" src="img/gpto.png">
          <span class="jmname">5G6F7H8J</span>
        </li>
        <li class="jmli fl">
          <img class="jmnew" src="img/gpto.png">
          <span class="jmname">5G6F7H8J</span>
        </li>
        <li class="jmli fl">
          <img class="jmnew" src="img/gpto.png">
          <span class="jmname">5G6F7H8J</span>
        </li>

      </ul>
      <a href="#" class="dobtn marcont vasy real dltn maro"><img src="img/szlog.png" class="nexjm">制作新节目</a><!--点击 dltn-->
      <p class="txtlogo abptxt">Copyright © MagicPoster</p>
    </div>
  </ion-content>
</ion-view>