<ion-view view-title="设备列表" class="bcbg minht">
  <ion-header-bar align-title="center" class="bar bar-header n_bar fxcen">
    <div class="mgft fxcen" id="titlf" ng-click="toMainPage()">
        <img class="marauto fl stmgb" src="img/home.png">
        <span class="inbol fr" id="insy">首页</span>
    </div>
    <h1 class="title mtit" id="stitb">节目列表</h1>
    <div class="buttons mgrt textcen" id="titr" ng-click="toMainPage()">
        取消
    </div>
  </ion-header-bar>  
  <ion-content class="scroll-content stopb" overflow-scroll="true" scroll="false">
    <div class="row" id="smgbs">
      <div class="col col-275 pmzero sgrmg real" id="smrb" ng-repeat="item in programData.items" ng-class="{'marr': item.line}" ng-click="clickItem($index, $event)">
          <img class="sgmg" src="{{item.filePath}}">
          
            <img class="absol camera" src="img/camera.png">
          
          <p class="absol spjm fxcen">
              <span class="fl textcen" id="spbn">{{item.playtime}}.sec</span>
              <span class="fr fyuan">{{$index + 1}}</span>
          </p>
      </div>
     
    </div>
    <div class="fr mysty textcen">
      自定义
    </div>
    <div class="fr stypl textcen">
      轮播
    </div>
        <div class="absol mofth fbjm textcen">
            <span class="yebtn fxcen">
                <img class="stnmg marauto" src="img/viod.png">
                <span class="fr txtn textcen">开始制作</span>
            </span>
        </div>
    
  </ion-content>
  <ion-footer-bar align-title="center" class="bar bar-footer f_bar bcbg overf">  
    <h1 class="title bcbg" id="ftit">Copyright © MagicPoster</h1>  
  </ion-footer-bar>
</ion-view>