<ion-view view-title="用户登录" class="bcbg minht">

  <ion-header-bar align-title="center" class="bar bar-header a_bar a_barc fxcen">
    <h1 class="title mtit">用户登录</h1>
  </ion-header-bar>

  <ion-content class="scroll-content tophet" overflow-scroll="false" scroll="false">
    <div class="bgstyle fxcen logof bgtran agchge">
      <img class="logop marauto" src="img/logoa.png">
    </div>
    <p class="error" ng-bind="data.message"></p>
    <div class="adipt fxcen">
      <label class="labpt fxcen" for="user"><!--absol adico-->
        <img class="marauto newWht" src="img/admin.png">
        <i class="borgtl"></i>
      </label>
      <input class="padlft" id="user" type="number" placeholder="手机号码" ng-model="data.mobile">
      <img class="fr xamg marauto mrret" src="img/xa.png" ng-if="!((''+data.mobile).length > 0)">
      <img class="fr xamg marauto mrret" src="img/xb.png" ng-if="((''+data.mobile).length > 0)" ng-click="clearPhone()">
    </div>
    <div class="adipt fxcen">
      <label class="labpt fxcen" for="yzm">
        <img class="marauto newWht" src="img/tel.png">
        <i class="borgtl"></i>
      </label>
      <input class="padlft" id="yzm" type="tel" maxlength="4" placeholder="请输入验证码" ng-model="data.code">
      <div class="yzmbtn textcen mrret" ng-show="!data.showCountNumber" ng-click="loginSendSMSCode()">
        <img class="clock marauto" src="img/clocka.png">
        <span class="yzmtit textcen" flash-button flash-css="yzmcol">获取验证码</span>
      </div>
      <div class="yzmbtn fxcen mrret" ng-show="data.showCountNumber">
        <span class="wborw yzmtit bultxt textcen">{{data.countdown}}秒后重新获取</span>
      </div>

    </div>

    <div class="logbtnf logbtn textcen" ng-click="loginWithSMSCode()" flash-button flash-css="clkbg">
      登<span class="inblo wthd"></span>录
    </div>

    <!-- <div class="join">
        <img class="fl jomg" src="img/join.png">
        <span class="fr inblo jotit">立即注册</span>
    </div> -->
  </ion-content>

  <ion-footer-bar align-title="center" class="bar bar-footer f_bar bcbg overf nbtomm btozero">
    <h1 class="title bcbg" id="ftit">Copyright(c) MagicBoard</h1>
  </ion-footer-bar>
</ion-view>
