<ion-view view-title="设备匹配" class="bcbg">

  <ion-header-bar align-title="center" class="bar bar-header a_bar">
      <div class="buttons mgft">
        <a class="button btnbg"></a>
      </div>
      <h1 class="title mtit">设备匹配</h1>
      <div class="buttons mgrt">
        <a class="button btnmr"></a>
      </div>
  </ion-header-bar>

  <ion-content class="scroll-content tophet" overflow-scroll="true" scroll="false">
    <div class="fr jump">跳过</div>
    <img class="disblok matmg" src="img/matchg.png">
    <p class="loding">
      <ion-spinner icon="android" class="spinner spinner-android hide">
        <svg viewBox="0 0 64 64">
          <g transform="rotate(278.7999999999999,32,32)">
            <circle stroke-width="6" stroke-dasharray="182.5639086317706" stroke-dashoffset="164.9419201893491" r="26" cx="32" cy="32" fill="none" transform="scale(1,1) translate(0,0) rotate(0,32,32)">
              
            </circle>
          </g>
        </svg>
      </ion-spinner>
    </p>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar bar-footer f_bar overf bcbg">
    
    <h1 class="title" id="ftit">Copyright © MagicPoster</h1>
    
  </ion-footer-bar>
</ion-view>
