<ion-view view-title="节目制作">

  <ion-header-bar align-title="center" class="bar bar-header a_bar">
      <div class="buttons mgft">
        <a class="button btnbg"></a>
      </div>
      <h1 class="title mtit">节目制作</h1>
      <div class="buttons mgrt">
        <a class="button btnmr"></a>
      </div>
  </ion-header-bar>
  <ion-content class="scroll-content tophet" overflow-scroll="true" scroll="false">
        <img class="camg" src="img/bgco.png">

        <div class="row pmzero btop">          
          <div class="col real"><a class="absol thag" href="#"></a></div>
          <div class="col col-45 pmzero">
            <div class="borclo tabcel real">
              <img class="whmg" src="img/vmbg_03.png">
              <div class="mesg absol">
                <img class="fl mpg" src="img/ptn.png">
                <div class="fr vpsg" id="fos">
                  <span class="inblo mfr">2016-06-01</span>
                  <span>未发布</span>
                </div>
              </div>
            </div>
            <p class="jmtit">节目标题</p>            
          </div>         
          <div class="col real"><a class="absol thagn" href="#"></a></div>         
        </div>
        <ul class="row" id="svmg">
          <li class="col bgc"><img class="scmg" src="img/smg.png"></li>
          <li class="col bgc"><img class="scmg" src="img/smg.png"></li>
          <li class="col bgc"><img class="scmg" src="img/smg.png"></li>
          <li class="col bgc"><img class="scmg" src="img/smg.png"></li>
          <li class="col bgc"><img class="scmg" src="img/smg.png"></li>
          <li class="col bgc"><img class="scmg" src="img/smg.png"></li>
          <li class="col bgc pdro"><img class="scmg" src="img/smg.png"></li>
        </ul>
        <div class="mofth">
          <span class="inblo yebtn real">
            <img class="absol stnmg" src="img/ptnly.png">
            <span class="inblo fr txtn">节目制作</span>
          </span>
        </div>
  </ion-content>
  
  
  
</ion-view>
<!--ionic serve --address 192.168.51.77-->