<ion-view view-title="MagicManager">

  <ion-header-bar align-title="center" class="bar bar-header a_bar fxcen jcbet">
    <div class="buttons mgft fxcen btlft towdp" ng-click="goAdmin()">
      <img class="wborw marauto" src="img/qadmin.png">
    </div>
    <h1 class="title mtit">MagicManager</h1>
  </ion-header-bar>

  <ion-content class="scroll-content tophet" overflow-scroll="true" scroll="false">
    <div class="bgstyle logof fxcen">
      <img class="logob marauto" src="img/logoa.png">
    </div>
    <div class="magauto magsty magbtn fxcen" ng-click="clickPost()">
      <img class="magmg marauto" src="img/aqq1.png">
      <span class="magsp textcen">{{'节目制作' | T}}</span>
    </div>
    <div class="magauto magsty manag fxcen" ng-click="goManage()">
      <img class="magmg marauto" src="img/aqq2.png">
      <span class="magsp textcen">{{'节目管理' | T}}</span>
    </div>
    <div class="magauto magsty hbz fxcen" ng-click="goDevice()">
      <img class="magmg marauto" src="img/aqq3.png">
      <span class="magsp textcen">{{'设备管理' | T}}</span>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar bar-footer f_bar overf">
    <h1 class="title" id="ftit">Copyright(c) MagicBoard</h1>
  </ion-footer-bar>
</ion-view>
