
<ion-view view-title="设备列表" class="bcbg minhq minht">

  <ion-header-bar align-title="center" class="bar bar-header a_bar a_barc fxcen">
    <!--<div class="buttons mgft fxcen btlft towdp" ng-click="toMainPage()">-->
      <!--<img class="wborw marauto" src="img/hogo.png">-->
    <!--</div>-->
    <h1 class="title mtit">{{'节目制作' | T}}</h1>
    <div class="buttons mgrt fxcen mfr towdp" ng-click="toMainPage()">
      <img class="marauto wborw" src="img/backg.png">
    </div>
  </ion-header-bar>
  <ion-content class="scroll-content stopb theig jmbgnn" overflow-scroll="true" scroll="false">
    <div class="row real" id="smgbsn">
      <div class="col col-275 pmzero sgrmg real "
           ng-repeat="item in programData.items"
           ng-class="{'borclo': item.selected,'smrb': item.line}"
           ng-click="clickItem($index, $event)"
      >
        <div class="bgstyle pf bgtain" ng-class="{'absol':item.selected}"
             style="background-image: url({{item.filePath}});">
          <!--<img src="img/bgan.png">-->
        </div>
        <div class="absol brav " ng-show="item.selected"></div>
        <!--<img ng-show="item.selected" class="absol sgmg mcbrav" src="img/01.png">-->

        <img class="absol camera" src="img/greca.png">

        <p class="absol spjm fxcen">
          <span class="fl textcen" id="spbn">{{item.playtime}}.sec</span>
          <span class="fr fyuan">{{$index + 1}}</span>
        </p>
      </div>

    </div>
    <div class="Njmlist fxcen fenld">
      <!--<div class="mofth fbjm textcen nbottm jumot newwth">
          <span class="yebtn fxcen sgmg" ng-click="clickPlayTurn()" style="background:#00a0e9; border-radius: 5px;">
              <img class="stnmg marauto rgwid marltg" src="img/reface.png">
              <span class="fl textcen">内容轮播</span>
          </span>
      </div>-->
      <div class="mofth fbjm textcen nbottm jumot martopy">
            <span class="yebtn fxcen sgmg" ng-click="clickPlayTurn()" style="background:#00a0e9; border-radius: 5px;">
                <img class="stnmg nwhtn" src="img/reface.png">
                <span class="fl textcen enwth">{{'内容轮播' | T}}</span>
            </span>
      </div>
    </div>
    <div class="mofth fbjm textcen nbottm martot">
            <span class="nbebtn fxcen cbgol" ng-click="startMaking()">
                <img class="stnmg" src="img/nexto.png">
                <span class="fl textcen">{{'下一步' | T}}</span>
            </span>
    </div>

  </ion-content>
  <ion-footer-bar align-title="center" class="bar bar-footer f_bar bcbg overf nbtomm bgtran">
    <h1 class="title bcbg bgtran" id="ftit">Copyright(c) MagicBoard</h1>
  </ion-footer-bar>
</ion-view>
