<ion-view view-title="节目制作" name="account-view" hide-nav-bar="true">
  <ion-content class="" overflow-scroll="true" scroll="false">
      <header class="heade">
        <div class="abtn">
         <a href="#" class="line_k">
          <img class="adues" src="img/adues.png">
         </a>
        </div>
        <span>{{'节目制作' | T}}</span>
        <a class="bbtn" href="#">
            <img class="cztn" src="img/sider.png">
        </a>
      </header>

      <div class="app_bg bgstyle">
        <div class="vdiv">
          <div class="vdivs">
            <ul class="vulg">
              <li class="vlig fl">
                <p class="vtext">节目标题</p>
                <div class="videon real">
                  <p class="mcbg"></p>
                  <img class="tplay absol" src="img/play.png">
                  <img class="bvmg" src="img/jmmg.png">
                  <p class="vptxt absol">
                    <span class="line_k fl">2016-05-01</span>
                    <span class="line_k">13.55MB</span>
                    <span class="line_k fr">未发布</span>
                  </p>
                </div>
              </li>
              <li class="vlig fl">
                <p class="vtext">节目标题</p>
                <div class="videon real">
                  <img class="tplay absol" src="img/play.png">
                  <img class="bvmg" src="img/jmmg.png">
                  <p class="vptxt absol">
                    <span class="line_k fl">2016-05-01</span>
                    <span class="line_k">13.55MB</span>
                    <span class="line_k fr">未发布</span>
                  </p>
                </div>
              </li>
              <li class="vlig fl">
                <p class="vtext">节目标题</p>
                <div class="videon real">
                  <p class="mcbg"></p>
                  <img class="tplay absol" src="img/play.png">
                  <img class="bvmg" src="img/jmmg.png">
                  <p class="vptxt absol">
                    <span class="line_k fl">2016-05-01</span>
                    <span class="line_k">13.55MB</span>
                    <span class="line_k fr">未发布</span>
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <ul class="vsmg">
            <li class="fsmg real fl">
              <p class="mcbg"></p>
              <img class="asmg" src="img/vsmg.png">
            </li>
            <li class="fsmg real fl">
            <p class="mcbg"></p>
              <img class="asmg" src="img/vsmg.png">
            </li>
            <li class="fsmg real fl">
              <img class="asmg" src="img/vsmg.png">
            </li>
            <li class="fsmg real fl">
            <p class="mcbg"></p>
              <img class="asmg" src="img/vsmg.png">
            </li>
            <li class="fsmg real fl">
            <p class="mcbg"></p>
              <img class="asmg" src="img/vsmg.png">
            </li>

            <li class="fsmg real fl">
            <p class="mcbg"></p>
              <img class="asmg" src="img/vsmg.png">
            </li>
            <li class="fsmg real fl marr">
            <p class="mcbg"></p>
              <img class="asmg" src="img/vsmg.png">
            </li>
            <li class="fsmg real fl mabb">
            <p class="mcbg"></p>
              <img class="asmg" src="img/vsmg.png">
            </li>
          </ul>
        </div>
        <a href="#" class="dobtn bkmg mall dltn real"><img src="img/sy.png" class="asy">{{'节目制作' | T}}</a>
        <p class="txtlogo abptxt">Copyright(c) MagicBoard</p>
      </div>
  </ion-content>
</ion-view>
