<ion-view view-title="节目管理">

  <ion-header-bar align-title="center" class="bar bar-header a_bar fxcen">
    <!-- <div class="mgft fxcen">
      <a class="marauto" ui-sref="admin"><img class="btnbg" src="img/user.png"></a>
    </div> -->
    <div class="mgft fxcen" id="titlf" ng-click="toMainPage()">
      <img class="marauto fl stmgb" src="img/home.png">
      <span class="inbol fr" id="insy">首页</span>
    </div>
    <h1 class="title mtit">节目管理</h1>
    <div class="buttons mgrt fxcen" ng-click="menu()">
      <img class="marauto btnmr" src="img/mcon.png">
    </div>
  </ion-header-bar>

  <ion-content class="scroll-content tophet bgman bgstyle" overflow-scroll="true" scroll="false">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" ng-repeat="photo in data.photos" gallery-repeat-finish>
          <div class="row btop">
            <!--<div class="col real"></div>-->
            <div class="col col-50 pmzero">
              <div class="jmtia">{{photo.name}}</div>
              <div class="borclo tabcel real">
                <!--<img class="whmg" ng-src="{{photo.first_image}}" preview-url="{{photo.preview_url}}" inappbowser>-->
                <div ng-click="menu()"><img class="whmg" ng-src="{{photo.first_image}}"
                                            preview-url="{{photo.preview_url}}"></div>
                <!--<div class="mesg absol fxcen">
                  &lt;!&ndash; <img class="fl mpg marauto" src="img/ptn.png"> class="inblo mfr"&ndash;&gt;
                  <div class="fr vpsg textcen txt-cent">
                    <span>{{photo.update_date | formatdate}}</span>
                    &lt;!&ndash;<span>未发布</span>&ndash;&gt;
                  </div>
                </div>-->
              </div>
              <p class="jmtit">({{$index+1}}/{{data.photos.length}})</p>
            </div>
            <!--<div class="col real"></div>-->
          </div>
        </div>
      </div>
    </div>
    <ion-footer-bar align-title="center" class="bar bar-footer f_bar overf" style="background: none;">
      <h1 class="title" id="ftit">Copyright © MagicPoster</h1>
    </ion-footer-bar>
  </ion-content>

</ion-view>
