<ion-view view-title="Magic Poster" class="bcbg">

  <ion-header-bar align-title="center" class="bar bar-header a_bar fxcen">
      <div class="mgft fxcen">       
            <img class="marauto camab" src="img/cama.png">
            
        </div>
        <h1 class="title mtit">Magic Poster</h1>
        
  </ion-header-bar>
  <ion-content class="scroll-content tophet" overflow-scroll="true" scroll="false">
    <img class="disblok logob magauto matop" src="img/logo.png">
    <div class="magbtn magsty fxcen magauto">
      <img class="magmg marauto" src="img/manpl.png">
      <span class="magsp textcen">节目制作</span>
    </div>
    <div class="manag magsty fxcen magauto">
      <img class="magmg marauto" src="img/manag.png">
      <span class="magsp textcen">节目管理</span>
    </div>
    <div class="hbz magsty fxcen magauto">
      <img class="magmg marauto" src="img/hbz.png">
      <span class="magsp textcen">海报制作</span>
    </div>
    <div class="magauto textcen mansz">
      <a class="disblok flbtn fxcen">
        <img class="sbfl marauto" src="img/sbfl.png">
        <span class="textcen">设备设置</span>
      </a>
      <a class="disblok flbtn fxcen">
        <img class="sbfl marauto" src="img/gnfr.png">
        <span class="textcen">系统设置</span>
      </a>
    </div>

  </ion-content>
  <ion-footer-bar align-title="center" class="bar bar-footer f_bar overf bcbg">
    
    <h1 class="title" id="ftit">Copyright © MagicPoster</h1>
    
  </ion-footer-bar>
</ion-view>
