<ion-view view-title="发布设备选择（无内容）" class="bcbg minht">
  <ion-header-bar align-title="center" class="bar bar-header n_bar fxcen">
    <div class="mgft fxcen hetgt" id="titlf" ng-click="toMainPage()">
        <img class="marauto fl stmgb" src="img/mcon.png">
        
    </div>
    <h1 class="title mtit" id="stitb">发布设备选择</h1>
    <div class="buttons mgrt textcen" id="titr" ng-click="toMainPage()">
       返回
    </div>
  </ion-header-bar>  
  <ion-content class="scroll-content stopb" overflow-scroll="true" scroll="false">
    <p class="namap">您还没有关联任何设备</p>
    <div class="logbtnf logbtn textcen">立即关联</div>

  </ion-content>
</ion-view>