<ion-view view-title="发布设备选择" name="account-view" hide-nav-bar="true">
  <ion-content class="" overflow-scroll="true" scroll="false">
    <header class="heade header">
        <a class="abtn martp" href="#">
            <img class="addp" src="img/addg.png">       
        </a>              
         
        <span>发布设备选择</span>
        <a class="bbtn clhm" href="#">
          返回
        </a>
    </header>
    <div class="app_bg bgstyle">
        <ul class="maul">
            <li class="mali fl">
                <!--<p class="mcbg"></p>
                <img class="duig absol" src="img/nike.png">点击选中-->
                <p class="map topz">
                    <img class="sett" src="img/set.png">
                    <span class="settxt">5G6F7H8J</span>
                </p>
                <img class="bgko" src="img/pto.png">
                <p class="map">
                    <span class="utit">设备别名</span>
                    <span class="uqu vtime">2016-05-01</span>
                </p>
            </li>
            <li class="mali fl">
                <p class="map topz">
                    <img class="sett" src="img/set.png">
                    <span class="settxt">5G6F7H8J</span>
                </p>
                <img class="bgko" src="img/pto.png">
                <p class="map">
                    <span class="utit">设备别名</span>
                    <span class="uqu vtime">2016-05-01</span>
                </p>
            </li><!--第三第六个li 加class marr-->
            <li class="mali marr fl">
                <p class="map topz">
                    <img class="sett" src="img/set.png">
                    <span class="settxt">5G6F7H8J</span>
                </p>
                <img class="bgko" src="img/pto.png">
                <p class="map">
                    <span class="utit">设备别名</span>
                    <span class="uqu vtime">2016-05-01</span>
                </p>
            </li>    
            <li class="mali fl">
                <p class="map topz">
                    <img class="sett" src="img/set.png">
                    <span class="settxt">5G6F7H8J</span>
                </p>
                <img class="bgko" src="img/pto.png">
                <p class="map">
                    <span class="utit">设备别名</span>
                    <span class="uqu vtime">2016-05-01</span>
                </p>
            </li>
            <li class="mali fl">
                <p class="map topz">
                    <img class="sett" src="img/set.png">
                    <span class="settxt">5G6F7H8J</span>
                </p>
                <img class="bgko" src="img/pto.png">
                <p class="map">
                    <span class="utit">设备别名</span>
                    <span class="uqu vtime">2016-05-01</span>
                </p>
            </li>       
        </ul>
    </div>
  </ion-content>
</ion-view>  