<ion-view view-title="发布设备选择" class="bcbg minht">
  <ion-header-bar align-title="center" class="bar bar-header n_bar">
    <div class="buttons mgft" id="titlf">
        <a class="button stmgb fl"></a>
        <span class="inbol fr" id="insy">首页</span>
    </div>
    <h1 class="title mtit" id="stitb">发布设备选择</h1>
    <div class="buttons mgrt" id="titr">
        取消
    </div>
  </ion-header-bar>  
  <ion-content class="scroll-content stopb" overflow-scroll="true" scroll="false">
    <div class="row" id="smgbs">
      <div class="col col-275 pmzero sgrmg real" id="smrb">
          <img class="sgmg" src="img/sgirl.png">
          <p class="absol spbt">
            <img class="absol smag" src="img/sma.png">
            <span class="absol inblo sptbt" id="">5G6F7H8J</span>
          </p>
          <p class="absol spbb">
              <span class="fl spbn"></span>
              <span class="fr tim">2016-05-01</span>
          </p>
      </div>
      <div class="col col-275 pmzero sgrmg real" id="smrb">
          <img class="sgmg" src="img/sgirl.png">
      </div>
      <div class="col col-275 pmzero sgrmg real">
          <img class="sgmg" src="img/sgirl.png">
      </div>
    </div>
        <div class="absol mofth fbjm">
            <span class="inblo yebtn real">
                <img class="absol stnmg" src="img/mai.png">
                <span class="inblo fr txtn">发布节目</span>
            </span>
        </div>
    
  </ion-content>
  <ion-footer-bar align-title="center" class="bar bar-footer f_bar bcbg overf">  
    <h1 class="title bcbg" id="ftit">Copyright © MagicPoster</h1>  
  </ion-footer-bar>
</ion-view>