<ion-view view-title="当前节目名称" class="bcbg minht">
  <ion-header-bar align-title="center" class="bar bar-header n_bar fxcen">
    <div class="mgft fxcen" id="titlf" ng-click="toMainPage()">
        <img class="marauto fl stmgb" src="img/home.png">
        <span class="inbol fr" id="insy">首页</span>
    </div>
    <h1 class="title mtit" id="stitb">当前节目名称</h1>
  </ion-header-bar>  
  <ion-content class="scroll-content stopb" overflow-scroll="true" scroll="false">
    <div class="row jname">
      
      <div class="col col-177 jnwh real">
        <img class="jnmgh" src="img/jnme.png">
        <span class="absol inblo jnpan">5G6F7H8J</span>
      </div>
      <div class="col col-177 jnwh real">
        <img class="jnmgh" src="img/jnme.png">
        <span class="absol inblo jnpan">5G6F7H8J</span>
      </div>
      <div class="col col-177 jnwh real">
        <img class="jnmgh" src="img/jnme.png">
        <span class="absol inblo jnpan">5G6F7H8J</span>
      </div>
      <div class="col col-177 jnwh real pdro">
        <img class="jnmgh" src="img/jnme.png">
        <span class="absol inblo jnpan">5G6F7H8J</span>
      </div>
       <div class="col col-177 jnwh real martopy">
        <img class="jnmgh" src="img/jnme.png">
        <span class="absol inblo jnpan">5G6F7H8J</span>
      </div>
  
    </div>
    <div class="absol mofth fbjm textcen">
      <span class="yebtn fxcen">
        <img class="stnmg marauto newW" src="img/sdvo.png">
        <span class="fr textcen">制作新节目</span>
      </span>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar bar-footer f_bar bcbg overf">  
    <h1 class="title bcbg" id="ftit">Copyright © MagicPoster</h1>  
  </ion-footer-bar>
</ion-view>