<ion-view view-title="注册成功" name="account-view" hide-nav-bar="true">
  <ion-content class="" overflow-scroll="true" scroll="false">
    <header class="heade">
        <span>注册成功</span>
    </header>

    <div class="app_bg bgstyle">
        <div class="logo_txt">
          <img class="whmg" src="img/logo.png"><br>
          <p>MagicManager</p>
        </div>

      <p class="psdeor zcok">注册成功！3秒后自动登录！</p>

      <p class="denlu dltn logok">立即登录</p>

      <p class="txtlogo">Copyright © MagicPoster</p>
    </div>
  </ion-content>
</ion-view>
