<ion-view view-title="制作节目（已选择图片）" name="account-view" hide-nav-bar="true">
  <ion-content class="" overflow-scroll="true" scroll="false">
    <header class="heade header">
      <a class="abtn clhm" href="#" ng-click="toMainPage()">
        <img class="cloh" src="img/jmh.png"> 
        首页       
      </a>              

      <span>节目制作</span>
      <a class="bbtn clhm" href="#" ng-click="toMainPage()">
        取消
      </a>
    </header>
    <div class="app_bg bgstyle">
      <ul class="maul">
        <li  class="mali fl"  ng-repeat="item in programData.items" ng-class="{'marr': item.line}" ng-click="clickItem($index, $event)">
          <p ng-class="{'none': !item.selected}" class="mcbg"></p>
          <img ng-class="{'none': !item.selected}" class="duig absol" src="img/nike.png"><!--点击选中-->
          <img class="ptoo" src="img/kacha.png">
          <img class="bgko" src="{{item.filePath}}">
          <p class="map">
            <span class="utit">{{item.playtime}} sec</span>
            <span class="uqu">{{$index + 1}}</span>
          </p>
        </li>

      </ul>   
      <a href="#" class="vtype" ng-click="clickPlayTurn()">轮播</a>
      <a href="#" class="vtype" ng-click="clickCustom()">自定义</a>
      <a href="#" class="dobtn marcont vasy real dltn" ng-click="startMaking()"><img src="img/video.png" class="vsy">开始制作</a><!--点击 dltn-->
      <p class="txtlogo">Copyright © MagicPoster</p>
    </div>
  </ion-content>
</ion-view>