<ion-view view-title="内容编辑" name="main-view" hide-back-button="true" hide-nav-bar="true">
  <ion-content class="" overflow-scroll="true" scroll="false">
    <header class="heade">
      <div class="abtn">
        <a href="#">
          <img class="adues" src="img/adues.png">      
        </a>
          
      </div>  
      <span>内容编辑</span>
      <a class="bbtn" href="#">
          <img class="cztn" src="img/sider.png">
      </a>
    </header>
    <div class="app_bg bgstyle">
        <p class="psdeor">您还没有任何节目。</p>
        <a href="#" class="dobtn bkmg real "><img src="img/sy.png" class="asy">立即制作</a><!--点击 dltn-->
        <p class="txtlogo">Copyright © MagicPoster</p>
    </div>        
  </ion-content>
</ion-view>